# dependencies
node_modules/

# next.js
.next/
out/
build/

# misc
.DS_Store
Thumbs.db
*.log
npm-debug.log*

# env
.env
.env*.local

# editor
.vscode/
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts.bak
